main{
    display: flex;
}

body{
    background-color: #FFCC99;
    font-family: 'Garamond';
    text-align: center;
}

header, footer{
    color: white;
    background-color: darkgreen;
    padding: 30px;
    font-size: 140%;
}

nav{
    background-color: mediumseagreen;
    word-spacing: 90px;
    padding: 20px;
}

section#left{
    width: 70%;
    height: 500px;
}

section#right{
    background-color: mediumseagreen;
    width: 30%;
    height: 500px;
    text-align: left;
}

table{
    border: 1px dashed darkgreen;
    margin: 30px auto;
}

table > tr > th, table > tr > td{
    padding: 5px;
}

a{
    color: white;
}

ul{
    list-style-type: circle;
}

tr:hover{
    background-color: darkgreen;
    color: white;
}

