*{
    font-family: Georgia;
    color: white;
}

body{
    margin: 0;
}

header, footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

section#left, section#center, section#right{
    background-color: lightsalmon;
    height: 527px;
}

section#left{
    float: left;
    width: 15%;
}

section#center{
    float: left;
    width: 70%;
    text-align: center;
}

section#right{
    float: left;
    width: 15%;
}

section#miniatury{
    clear: both;
    background-color: maroon;
    height: 70px;
}

input[type="button"]{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

@keyframes animacjaMiniatury {
    from{
        padding-left: 50px;
    }

    to{
        padding-left: 0px;
    }
}

section#miniatury img{
    height: 70px;
    animation-name: animacjaMiniatury;
    animation-duration: 4s;
}

@keyframes animacjaObrazu{
    from{
        scale: 100%;
    }

    to{
        scale: 120%;
    }
}

section#center img{
    display: block;
    margin: auto;
    padding-top: 45px;
}

section#center img:hover{
    animation-name: animacjaObrazu;
    animation-duration: 5s;
    scale: 120%;
}

footer{
    clear: both;
}