*{
    font-family: 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
}

aside{
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    overflow: auto;
    float: left;
}

#sekcja1, #sekcja2{
    width: 60%;
    height: 300px;
    float: right;
}

#sekcja1{
    background-color: #9FA8DA;
}

#sekcja2{
    background-color: #7986CB;
}

footer{
    clear: both;
    background-color: #283593;
    color: white;
    padding: 20px;
}

.opona{
    background-color: #9FA8DA;
    margin: 40px;
    border: dotted 2px #283593;
    border-radius: 30px;
}

img{
    float: left;
    padding: 20px;
}

h2{
    text-align: center;
    margin: 0px;
    padding: 15px;
}

h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}