*{
    font-family: Century Serif;
    text-align: center;
}

body{
    margin: 0;
}

header, footer{
    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

section{
    width: 50%;
    height: 470px;
}

img{
    padding: 3px;
    margin: 10px;
    border: dashed 2px slateblue;
}

a{
    color: white;
}

button{
    background-color: slateblue;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

button:hover{
    background-color: indigo;
}

.suwak{
    width: 80%;
}

footer{
    clear: both;
}