*{
    font-family: 'Cambria';
}

header{
    background-color: #C2185B;
    color: white;
    text-align: center;
    padding: 15px;
}

main{
    background: url(tulipany.jpg);
    height: 500px;
}

#stopka1, #stopka2, #stopka3, #stopka4{
    background-color: #C2185B;
    color: white;
    width: 25%;
    height: 240px;
    float: left;
}

#form1, #form2, #form3{
    background-color: #FCE4EC;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
    float: left;
}

#stopka1{
    clear: both;
}

p{
    padding-top: 20px;
}

a{
    color: white;
}

input{
    width: 80%;
    height: 30px;
    margin: 10px;
}

button{
    background-color: #C2185B;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}

video{
    width: 100%;
    height: 100%;
}

.form-block{
    opacity: 0;
}

.active{
    opacity: 1;
}