*{
    font-family: Cambria;
}

body{
    margin: 0;
}

header{
    background-color: #C2185B;
    color: white;
    text-align: center;
    padding: 15px;
}

main{
    background: url(tulipany.png);
    height: 500px;
}

#footer1, #footer2, #footer3, #footer4{
    background-color: #C2185B;
    color: white;
    width: 25%;
    height: 240px;
}

form{
    display: flex;
    flex-direction: row;
}

footer{
    clear: both;
    display: flex;
    flex-direction: row;
}

#daneOsobowe, #daneKontaktowe, #hasloLogowania{
    background-color: #FCE4EC;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
}

#daneKontaktowe, #hasloLogowania{
    visibility: hidden;
}

p{
    padding-top: 20px;
}

a{
    color: white;
}

#formularzImie, #formularzNazwisko,
#formularzEmail, #formularzTelefon,
#formularzHaslo, #formularzPowtorzHaslo{
    width: 80%;
    height: 30px;
    margin: 10px;
}

.buttonSubmit{
    background-color: #C2185B;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}

video{
    width: 100%;
    height: 100%;
}