*{
    font-family: 'Cambria';
}

header, footer{
    background-color: Sienna;
    color: white;
    padding: 5px;
    text-align: center;
}

main{
    background-color: Antiquewhite;
    height: 100%;
    font-size: 120%;
    overflow-y: auto;
}

.kontrolki{
    width: 150px;
    margin: 10px;
}

.buty{
    width: 70%;
    margin: 15px;
    padding: 7px;
    border: 1px solid Sienna;
    border-radius: 30px;
}

.buty:hover{
    background-color: Linen;
}

img{
    float: left;
    margin-right: 30px;
}

h4{
    background-color: Sienna;
    color: White;
    text-align: right;

}