*{
    font-family: Garamond;
}

body{
    margin: 0;
}

header{
    background-color: tomato;
    text-align: center;
    width: 80%;
    height: 80px;
}

header{
    float: left;
}

main{
    float: left;
}

main{
    width: 80%;
    height: 600px;
}

aside{
    float: right;
    background-color: coral;
    width: 20%;
    height: 680px;
}

footer{
    clear: both;
    background-color: tomato;
    color: white;
    text-align: center;
}

img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

#blokChatu{
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}

#blokJolanta, #blokKrzysztof{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}

#blokJolanta{
    background-color: #EEE;
}
#blokJolanta>p, #blokJolanta>img{
    float: left;
}

#blokKrzysztof{
    background-color: #CCC;
}
#blokKrzysztof>p, #blokKrzysztof>img{
    float: right;
}

button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}

input[type="text"]{
    width: 500px;
}