*{
    font-family: 'Bookman Old Style';
}

body{
    margin: 0;
    background-color: aliceblue;
}

header, footer{
    background-color: skyblue;
    text-align: center;
    padding: 1px;
    border-radius: 15px;
}

nav{
    width: 90%;
    text-align: center;
}

section{
    width: 45%;
    height: 640px;
    float: left;
}

aside{
    width: 10%;
    height: 700px;
    overflow: hidden;
    float: right;
}

aside img{
    width: 100%;
}

span{
    font-size: 200%;
    cursor: pointer;
}

button{
    background-color: skyblue;
    width: 45%;
    border-radius: 15px;
    padding: 15px 40px 15px 40px;
    margin: 3px 2% 3px 2%;
}

input, select{
    margin: 3px;
}

footer{
    clear: both;
}