*{
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
}

body{
    background-color: lightcyan;
    margin: 0;
}

header, footer{
    background-color: steelblue;
    color: white;
    padding: 10px;
}

article{
    padding-top: 40px;
    margin: 1%;
}

@media(min-width: 800px){
    main{
        display: flex;
    }

    article{
        width: 33%;
    }
}

@media(max-width: 799px){
    article{
        width: 98%;
    }
}

main > article:nth-child(1){
    background-color: dodgerblue;
}

main > article:nth-child(2){
    background-color: limegreen;
}

main > article:nth-child(3){
    background-color: darkorchid;
}

p{
    padding: 20px;
}

table{
    margin: auto;
    width: 70%;
    border: 1px solid steelblue;
}

tr:hover{
    background-color: steelblue;
    color: white;
}