*{
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}

body{
    margin: 0;
    background-color: lightcyan;
}

header, footer{
    background-color: steelblue;
    color: white;
    padding: 10px;
}

article{
    padding-top: 40px;
    margin: 1%;
}

@media (min-width: 800px){
    #article1{
        float: left;
        width: 30%;
    }

    #article2{
        float: left;
        width: 30%;
    }

    #article3{
        float: left;
        width: 30%;
    }
}

@media (max-width: 799px) {
    #article1{
        width: 98%;
    }

    #article2{
        width: 98%;
    }

    #article3{
        width: 98%;
    }
}

#article1{
    background-color: dodgerblue;
}

#article2{
    background-color: limegreen;
}

#article3{
    background-color: darkorchid;
}

img{
    width: 70%;
}

p{
    padding: 20px;
}

section{
    align-items: center;
}

table{
    margin: 0 auto;
    width: 70%;
    border: solid 1px steelblue;
}

tr:hover{
    background-color: steelblue;
}

footer{
    clear: both;
}