body{
    margin: 0;
    font-family: Bookman, serif;
}

header, footer{
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

section#blok_napisu{
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}

section#left, section#right{
    background-color: lavender;
    height: 500px;
}

section#left{
    width: 25%;
    float: left;
}

section#center{
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
    float: left;
}

section#right{
    width: 35%;
    float: left;
}

img{
    float: right;
    width: 50%;
    padding: 10px;
}

p{
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form{
    margin: 30px;
}

table, td{
    border-collapse: collapse;
    border: solid 1px indigo;
}

td, th{
    padding: 3px;
}