*{
    font-family: 'Helvetica';
}

body{
    margin: 0;
}

header, footer{
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

footer{
    clear: both;
}

footer p{
    margin: 5px;
}

#left1, #left2{
    background-color: #EFEFEF;
    width: 55%;
    float: left;
}

h3{
    margin-top: 0;
}

#left1{
    height: 150px;
}

#left2{
    height: 300px;
}

#right{
    background: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float: right;
}

img{
    box-shadow: 10px 10px 7px 0px dimgray;
    margin: 20px;
}

table, td, th{
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}

table{
    margin: auto;
    width: 80%;
}

td, th{
    padding: 4px;
}

tr:hover{
    background-color: #4FB3BF;
}

#right a{
    display: block;
}
