*{
    font-family: 'Garamond';
    color: white;
    margin: 0;
}

header{
    background-color: indigo;
    text-align: center;
    padding: 2px;
}

#left, #right{
    background-color: indigo;
    height: 600px;
}

main{
    background-color: black;
    height: 600px;
    overflow: scroll;
}

@media (min-width: 801px){
    #left, #right{
        width: 20%;
        float: left;
    }
    main{
        width: 60%;
        float: left;
    }
    footer{
        clear: both;
    }
}

footer{
    background-color: indigo;
    height: 150px;
}

#left > ul > li > span.pkt{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}

ul > li{
    padding: 5px;
}

main > .gra{
    float: left;
    text-align: center;
    padding: 3px;
}

input{
    margin: 10px;
    color: indigo;
}