*{
    font-family: Garamond;
    color: white;
}

body{
    margin: 0;
}

header{
    background-color: indigo;
    text-align: center;
    padding: 2px;
}

#left, #right{
    background-color: indigo;
    height: 600px;
}

#left{
    float: left;
}

#center{
    background-color: black;
    height: 600px;
    overflow: scroll;
    float: left;
}

#right{
    float: right;
}

footer{
    clear: both;
    background-color: indigo;
    height: 150px;
}

@media (min-width: 800px) {
    main{
        flex-direction: column;
    }
    #left, #right{
        width: 20%;
    }

    #center{
        width: 60%;
    }
}

.punkty{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}

li{
    padding: 5px;
}

.gry{
    float: left;
    text-align: center;
    padding: 3px;
}

input{
    margin: 10px;
    color: indigo;
}